<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Registrarse</title>
</head>
<body>
    <form action="/register" method="POST">
        <div class="form-container">
            <div class="form-item">
                <input type="text" name="name" id="name" min="8" placeholder="Nombre y Apellido">
            </div>
            <div class="form-item">
                <input type="text" name="username" id="username" placeholder="Nombre de usuario">
            </div>
            <div class="form-item">
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
            <div class="form-item">
                <label for="date" class="strange">
                    Fecha de nacimiento
                </label>
                    <input type="date" id="date" name="date">
                
            </div>
            <div class="form-item">
                <input type="text" name="adress" id="adress" placeholder="Direccion">
            </div>
            <div class="form-item">
                <label class="titles">Perfil de usuario</label>
                <div class="item">
                    <label for="comprador" >Comprador</label>
                    <input type="radio" name="comprador" id="comprador" value="comprador">
                </div>
                <div class="item">
                    <label for="vendedor" >Vendedor</label>
                    <input type="radio" name="vendedor" id="vendedor" value="vendedor">
                </div>                   
            </div>
            <div class="form-item">
                <label class="titles">Intereses</label>
                <div class="item">
                    <label for="electro" >Electro</label>
                    <input type="checkbox" name="electro" id="electro" value="electro">
                </div>
                <div class="item">
                    <label for="moda" >Moda</label>
                    <input type="checkbox" name="moda" id="moda" value="moda">
                </div>
                <div class="item">
                    <label for="hogar" >Hogar</label>
                    <input type="checkbox" name="hogar" id="hogar" value="hogar">
                </div>
                <div class="item">
                    <label for="jugueteria" >Juguetería</label>
                    <input type="checkbox" name="jugueteria" id="jugueteria" value="jugueteria">
                </div>
                <div class="item">
                    <label for="salud" >Salud</label>
                    <input type="checkbox" name="salud" id="salud" value="salud">
                </div>
            </div>
            <div class="form-item">
                <label for="perfil" class="str">Foto de perfil</label>
                <input type="file" name="perfil" id="perfil" accept=".jpg">
            </div>
            <div class="form-item">
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <input type="password" name="password" id="password" placeholder="Confirmar Contraseña">
            </div>
            <div>
                <button type="reset">Borrar</button>
                <button type="submit">Enviar</button>
            </div>
        </div>

    </form>
</body>
</html>