*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.form-container{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
}
.form-item{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.form-item input{
    width: 100%;
    margin-bottom: 10px;
}
.titles{
    font-size: 16px;
    font-weight: bold;
}
.strange{
    text-align: center;
}
.item{
    display: flex;
    flex-direction: row;
}